In [82]:
import pandas as pd

In [83]:
stats = pd.read_csv('stats2022NHL.csv')
bio = pd.read_csv('bioDataNHL.csv')

In [84]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 773 entries, 0 to 772
Data columns (total 50 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        773 non-null    int64
 1   id                                773 non-null    int64
 2   season                            773 non-null    int64
 3   stat.timeOnIce                    773 non-null    object
 4   stat.ot                           82 non-null     float64
 5   stat.shutouts                     82 non-null     float64
 6   stat.ties                         82 non-null     float64
 7   stat.wins                         82 non-null     float64
 8   stat.losses                       82 non-null     float64
 9   stat.saves                        82 non-null     float64
 10  stat.powerPlaySaves               82 non-null     float64
 11  stat.shortHandedSaves             82 non-null     float64
 12  stat.evenSaves                    82 non-null     float64
 13  stat.shortHandedShots             82 non-null     float64
 14  stat.evenShots                    82 non-null     float64
 15  stat.powerPlayShots               82 non-null     float64
 16  stat.savePercentage               82 non-null     float64
 17  stat.goalAgainstAverage           79 non-null     float64
 18  stat.games                        773 non-null    float64
 19  stat.gamesStarted                 82 non-null     float64
 20  stat.shotsAgainst                 82 non-null     float64
 21  stat.goalsAgainst                 82 non-null     float64
 22  stat.timeOnIcePerGame             766 non-null    object
 23  stat.powerPlaySavePercentage      78 non-null     float64
 24  stat.shortHandedSavePercentage    78 non-null     float64
 25  stat.evenStrengthSavePercentage   79 non-null     float64
 26  stat.assists                      691 non-null    float64
 27  stat.goals                        691 non-null    float64
 28  stat.pim                          691 non-null    float64
 29  stat.shots                        691 non-null    float64
 30  stat.hits                         691 non-null    float64
 31  stat.powerPlayGoals               691 non-null    float64
 32  stat.powerPlayPoints              691 non-null    float64
 33  stat.powerPlayTimeOnIce           691 non-null    object
 34  stat.evenTimeOnIce                691 non-null    object
 35  stat.penaltyMinutes               691 non-null    float64
 36  stat.faceOffPct                   691 non-null    float64
 37  stat.shotPct                      691 non-null    float64
 38  stat.gameWinningGoals             691 non-null    float64
 39  stat.overTimeGoals                691 non-null    float64
 40  stat.shortHandedGoals             691 non-null    float64
 41  stat.shortHandedPoints            691 non-null    float64
 42  stat.shortHandedTimeOnIce         691 non-null    object
 43  stat.blocked                      691 non-null    float64
 44  stat.plusMinus                    691 non-null    float64
 45  stat.points                       691 non-null    float64
 46  stat.shifts                       691 non-null    float64
 47  stat.evenTimeOnIcePerGame         687 non-null    object
 48  stat.shortHandedTimeOnIcePerGame  687 non-null    object
 49  stat.powerPlayTimeOnIcePerGame    687 non-null    object
dtypes: float64(39), int64(3), object(8)
memory usage: 302.1+ KB

In [96]:
stats = stats.filter(items = ['id','stat.assists','stat.goals',
 'stat.shots','stat.hits','stat.penaltyMinutes','stat.shotPct','stat.plusMinus',
 'stat.points'])

In [97]:
bio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791 entries, 0 to 790
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            791 non-null    int64
 1   fullName                      791 non-null    object
 2   primaryNumber                 758 non-null    float64
 3   currentAge                    791 non-null    int64
 4   birthCity                     791 non-null    object
 5   birthStateProvince            561 non-null    object
 6   birthCountry                  791 non-null    object
 7   nationality                   791 non-null    object
 8   height                        791 non-null    object
 9   weight                        791 non-null    int64
 10  shootsCatches                 791 non-null    object
 11  currentTeam.name              791 non-null    object
 12  primaryPosition.abbreviation  791 non-null    object
dtypes: float64(1), int64(3), object(9)
memory usage: 80.5+ KB

In [98]:
bio.head()

,id,fullName,primaryNumber,currentAge,birthCity,birthStateProvince,birthCountry,nationality,height,weight,shootsCatches,currentTeam.name,primaryPosition.abbreviation
0,8473541,Jonathan Bernier,45.0,33,Laval,QC,CAN,CAN,"6' 0""",185,L,New Jersey Devils,G
1,8477425,Miles Wood,44.0,26,Buffalo,NY,USA,USA,"6' 2""",195,L,New Jersey Devils,LW
2,8477970,Vitek Vanecek,41.0,26,Havlickuv Brod,NaN,CZE,CZE,"6' 2""",184,L,New Jersey Devils,G
3,8479407,Jesper Bratt,63.0,24,Stockholm,NaN,SWE,SWE,"5' 10""",175,L,New Jersey Devils,LW
4,8480003,Jesper Boqvist,70.0,23,Falun,NaN,SWE,SWE,"6' 0""",180,L,New Jersey Devils,C

In [99]:
bio = bio.filter(items = ['id','fullName','primaryNumber','currentAge','birthCity','birthStateProvince','birthCountry',
                   'nationality','height','weight','shootsCatches','currentTeam.name','primaryPosition.abbreviation'])

In [100]:
df = bio.merge(stats, on = 'id')
df = df[df['primaryPosition.abbreviation'] != 'G']

In [101]:
top_nationalities = ['USA','SWE','CAN','FIN','RUS','CZE']
df = df[df['nationality'].isin(top_nationalities)]

In [102]:
df.groupby(by = 'nationality')['stat.goals'].describe()

             count       mean        std  min   25%   50%    75%   max
nationality
CAN          291.0  10.092784   9.436264  0.0  3.00   7.0  15.00  44.0
CZE           22.0   9.181818  10.140144  0.0  2.25   5.5  13.75  40.0
FIN           33.0  10.393939  12.180772  0.0  2.00   5.0  14.00  39.0
RUS           30.0  16.366667  13.129286  0.0  6.25  13.0  24.75  50.0
SWE           72.0  10.819444  10.468365  0.0  2.75   8.5  14.25  42.0
USA          211.0  10.080569  10.873653  0.0  2.00   6.0  15.00  60.0

In [103]:
df.groupby(by = 'nationality')['stat.assists'].describe()

             count       mean        std  min    25%   50%    75%   max
nationality
CAN          291.0  17.336770  14.751388  0.0   6.00  14.0  25.00  85.0
CZE           22.0  16.454545  14.401479  0.0   4.50  14.0  23.75  56.0
FIN           33.0  18.636364  16.268870  0.0   6.00  16.0  26.00  56.0
RUS           30.0  26.400000  17.914741  0.0  13.25  22.5  37.75  74.0
SWE           72.0  19.791667  14.015020  0.0   8.00  18.0  26.25  65.0
USA          211.0  16.341232  14.716921  0.0   5.00  13.0  24.00  75.0

In [104]:
df.groupby(by = 'nationality')['stat.points'].describe()

             count       mean        std  min    25%   50%    75%    max
nationality
CAN          291.0  27.429553  22.687176  0.0   9.50  21.0  40.50  123.0
CZE           22.0  25.636364  21.809883  0.0   8.50  20.5  36.50   77.0
FIN           33.0  29.030303  27.239086  0.0   7.00  22.0  44.00   92.0
RUS           30.0  42.766667  28.883456  0.0  22.50  34.0  66.75  108.0
SWE           72.0  30.611111  22.515444  1.0  13.75  27.5  42.50   85.0
USA          211.0  26.421801  23.408735  0.0   8.00  20.0  39.00  115.0

In [105]:
df.to_csv('tableau_data.csv')